
.product-detail_list {
    padding: 20px 0;
    &_title {
        padding-bottom: 50px;
        padding-top: 20px;
        font-size: 2rem;
        font-weight: 500;
    }
    .product-card {
        margin-bottom: 40px;
    }
}