.best-seller__card {
    margin-top: 50px;
    &__slider {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        overflow: auto;
    }
    &__image {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        height: 88vh;
        overflow-y: scroll;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    
    &__info {
        margin-left: 30px;
        .card-name {
            font-size: 4rem;
            margin-bottom: 30px;
            text-transform: uppercase;
        }
        .sub-text {
            font-size: 2rem;
            font-weight: 400;
            margin-top: 40px;
        }
        .card-img {
            width: 100%;
            display: flex;
            gap: 10px;
            img {
                width: 80px;
            }
        }
        .price-old {
            text-decoration-line: line-through;
            font-size: 3.6rem;
            font-weight: 300;
            color: rgb(123, 120, 120);
        }
        .price-new {
            font-size: 4.4rem;
            color: #C50C0C;
        }
    }
}
@include tablet {
    .best-seller__card {
        &__info {
            .card-name {
                font-size: 2.8rem;
                margin-bottom: 20px;
            }
            .sub-text {
                margin-top: 20px;
            }
            .price-old {
                font-size: 3.4rem;
            }
            .price-new {
                font-size: 4rem;
            }
        }
    }
}

@include mobile {
    .best-seller__card {
        &__slider {
            grid-template-columns: repeat(1,1fr);
        }
        &__image {
            grid-template-columns: repeat(1,1fr);
            height: 79vh;
        }
        &__info {
            .card-name {
                position: fixed;
                bottom: 90px;
                width: max-content;
                font-size: 2.4rem;
                font-weight: 400;
                color: #fff;
                text-shadow: 2px 2px 4px #000;
            }
            .sub-text,.card-img,
            .price-old,.price-new {
                display: none;
            }
        }
    }
}
