.clock-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px auto;
    max-width: 90%;
    .clock-data {
        margin-right: 24px;
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        &_content {
            color: #fff;
            background-color: #000;
            width: 60px;
            padding: 10px;
            border-radius: 10px;
        }
        span {
            margin-left: 20px;
            font-size: 3rem;
        }
    }
}

@include mobile {
    .clock-wrapper {
        .clock-data {
            margin-right: 16px;
            font-size: 1.4rem;
            &:last-child {
                margin-right: 0;
            }
            &_content {
                width: 50px;
                padding: 12px;
            }
            span {
                font-size: 2.4rem;
                margin-left: 16px;
            }
        }
    }
}